.cartSummary {
   display: inline-block;
   position: absolute;
   top: 0rem;
   right: 0rem;
   cursor: pointer;
 }
 
 .cartText {
   font-size: 0.8rem;
   margin-top: -0.1rem;
   font-weight: 900;
   opacity: 0.8;
   color: white;
 }

 @media (min-width: 768px) {
   .cartSummary {
      right: 1.5rem;
   }
 }

